Arpeggio==2.0.3
attrs==25.4.0
boto3==1.40.64
botocore==1.40.64
debugpy==1.8.17
dill==0.4.0
grpcio==1.76.0
jmespath==1.0.1
parver==0.5
protobuf==5.29.5
pulumi==3.205.0
pulumi_aws==7.10.0
python-dateutil==2.9.0.post0
PyYAML==6.0.3
s3transfer==0.14.0
semver==3.0.4
six==1.17.0
typing_extensions==4.15.0
urllib3==2.5.0
